In [17]:
from sklearn.datasets import load_digits

In [18]:
df = load_digits()
dir(df)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [20]:
import pandas as pds
df_n = pds.DataFrame(df.data)
df_n["target"] = pds.DataFrame(df.target)
df_n.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [23]:
x = df_n.drop(["target"], axis = "columns")
y = df_n.target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [24]:
model = SVC(C=1,kernel = "rbf", gamma = "scale")
model.fit(x_train, y_train)

SVC(C=1)

In [25]:
model.score(x_test,y_test)

0.9888888888888889